<!DOCTYPE html>
<html>
<head>
  <title>MES main</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/pure-min.css">
  <link rel="stylesheet" href="/static/css/common.css" />
  <link rel="stylesheet" href="/static/css/layout.css" />
  <script src="/static/js/common.js"></script>

  <script type="text/javascript">
		var timerStart = Date.now();
  </script>

  <!-- bom header -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <link rel="stylesheet" type="text/css" href="/static/css/res.css">

    <!-- gantt chart  -->
    <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui-1.8.4.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/jquery.ganttView.css" />
	<script type="text/javascript" src="/static/lib/jquery-1.4.2.js"></script>
	<script type="text/javascript" src="/static/lib/date.js"></script>
	<script type="text/javascript" src="/static/lib/jquery-ui-1.8.4.js"></script>
	<script type="text/javascript" src="/static/lib/jquery.ganttView.js"></script>

    <script type="text/javascript" src="/static/js/gantt_process.js"></script>
</head>
<body style="position:relative;" data-spy="scroll" data-target="#navbar-example">

 <div id="wrap">
      <div id="header">
           <div class="head">
               <h1 class="logo fl_left"><a href="/">Menufacturing Execution System</a></h1>
               <div class="gnb fl_left">
                 <ul>
                    <li><a href="/bom/item_mng">BOM Management</a></li>
                    <li><a href="/work/work_list">Worker Management</a></li>
                    <li><a href="/process/process_select">Process Management</a></li>
                    <li><a href="/admin/reg_list?conn_page=company_info">Company Management</a></li>
                 </ul>
               </div>
               <div class="login fl_right">
                  	<img src="/static/image/icon_member.png" style="padding-right:10px">
                   	{% if session["admin_chk"] is defined  %}
                   		 [My Page] [<a href="/sign_out">Sign-Out</a>]
                   	{% else %}
                  		 [<a href="/member/member_register">Register</a>] [<a href="/sign_in">Sign-In</a>]
                   	{% endif %}
                   	[<a href="/admin">관리자 모드</a>]
               </div>
            </div>
      </div>
 </div>