{% include "/include/header.html" %}

<div id="section">

 <div class="container">

   <div class="admin_login_box">

    <h3>관리자 로그인1</h3>

    <form name="frm" id="frm"  class="form-horizontal">

    <div class="form-group">
        <label class="control-label col-sm-4" for="email">아이디(메일주소):</label>
        <div class="col-sm-8">
        <input type="email" class="input_box" id="id" name="id" value="{% if user_id != None %}{{ user_id }}{% endif %}" placeholder="Enter email" style="width:320px;">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4" for="pass">Password:</label>
        <div class="col-sm-8">
        <input type="password" class="input_box" id="pass" name="pass" value="{% if user_pass != None %}{{ user_pass }}{%endif%}" placeholder="Enter password"  style="height:35px;width:220px;">
        </div>
    </div>
  
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <div class="checkbox">
            <label><input type="checkbox" name="re_save" value="Y" {% if re_save != None %}{% if re_save == "Y" %} checked{%endif%}{%endif%}> Remember me</label>
        </div>
        </div>
    </div>
  
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
        <button type="button" id="signin" class="btn btn-default">로그인하기</button>
        <button type="button" id="cencel" class="btn btn-default">취소하기</button>
        </div>
    </div>

    </form>
    </div>  <!-- login_box  -->
  
  </div>  <!-- div continaer  -->
</div>   <!-- div section   -->
            
<form id="commonForm" name="commonForm"></form>     
     
<script type="text/javascript">
	$(document).ready(function(){
			$("#signin").on("click", function(e){  
				e.preventDefault();
				fn_loginProcess();
			});
      $( "#id" ).keypress(function( event ) {
        if ( event.which == 13 ) {
           fn_loginProcess();
        }
      });
      $( "#pass" ).keypress(function( event ) {
        if ( event.which == 13 ) {
           fn_loginProcess();
        }
      });
			$("#cancel").on("click", function(e){  
				e.preventDefault();
				fn_cancelProcess();
			});	
				
			$("#reg").on("click", function(e){  
				e.preventDefault();
				fn_regProcess();
			});				
	});
	
	function fn_loginProcess(){
			if ($("#id").val() == "")
			{
				  alert("ID를 입력하지 않았습니다!!!");
				  $("#id").focus();
				  return;
		  }
			if ($("#pass").val() == "")
			{
				  alert("패스워드를 입력하지 않았습니다!!!");
				  $("#pass").focus();
				  return;
		  }
		  try 
		  {
          var comSubmit = new ComSubmit("frm");
			    comSubmit.setUrl("/admin/admin_login");
			    comSubmit.submit();		           
		      		  	
		  }catch(e)
		  {
		  		alert(E);
		  }
		  		  		  	  		  
	}
	
	function fn_cancelProcess () {
		   frm.reset();
	}
	
	function fn_regProcess() {
		  location.href="/MES/member/member_register.php";
	}
</script>
            
{% include "/include/bottom.html" %}