<!DOCTYPE html>
<html lang="ko">
<head>
  <title>MES main</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/static/css/common.css" />
  <link rel="stylesheet" href="/static/css/layout.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="/static/js/common.js"></script>
</head>
<body>
        <div id="wrap">
            <div id="header">  
                <div class="head">
                    <h1 class="logo fl_left"><a href="index.html">Menufacturing Execution System</a></h1>
                    <div class="gnb fl_left">
                        <ul>
                            <li><a href="wind_time.html">BOM Management</a></li>
                            <li><a href="wind_day.html">Worker Management</a></li>
                            <li><a href="wind_month.html">Process Management</a></li>
                            <li><a href="/MES/info/reg_list.php?conn_page=company_info">Company Management</a></li>
                        </ul>
                    </div>
                    <div class="login fl_right">
                    	<img src="/static/image/icon_member.png" style="padding-right:10px">
                    	{% if session.logged_in %}
                    		 [My Page] [<a href="/MES/member/sign_out.php">Sign-Out</a>] 
                    	{% else %}
                    		 [<a href="/MES/member/member_register.php">Register</a>] [<a href="/MES/member/sign_in.php">Sign-In</a>]
                    	{% endif %}
                    	[<a href="/admin">관리자 모드</a>]
                    </div>
                </div>
            </div>

 {% block body %}{%endblock%}

            <div id="footer">
                OPYRIGHT (c) 2017 MES Project  ALL RIGHTS RESERVED
            </div>
        </div>
    </body>
</html>